---
name: CI
on:
  pull_request:
  push:

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  test_go:
    name: Go tests
    runs-on: ubuntu-latest
    container:
      image: golang:1.24.1-alpine
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - run: go test ./...
